<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--FONTAWESOME-->
    <script src="https://kit.fontawesome.com/517f86a7c0.js" crossorigin="anonymous"></script>
    <!-- STYLES-->
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  </head>
  <body>

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/">Start Bootstrap</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="/cuis">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Obtener CUIS
                    </a>
                    <a class="nav-link" href="/cufd">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Obtener CUFD
                    </a>
                    <a class="nav-link" href="/puntoventa">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Crear punto de venta
                    </a>
                    <a class="nav-link" href="/sincronizacion">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Sincronizar catálogos
                    </a>
                    <a class="nav-link" href="/recepcionfactura">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Envío de facturas
                    </a>
                    <a class="nav-link" href="/eventosignificativos">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Registro de Eventos Significativos
                    </a>
                    <a class="nav-link" href="/recepcionpaquete">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Envío de paquetes
                    </a>
                    <a class="nav-link" href="/anulacion">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Anulación de facturas
                    </a>
                    <a class="nav-link" href="/pruebas">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Pruebas
                    </a>
                    <a class="nav-link" href="/tabla">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Tablas
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Start Bootstrap
            </div>
        </nav>
    </div>
    
    <div id="layoutSidenav_content">
        <%- body %>
    </div>

    </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
  <script src="/js/datatables-simple-demo.js"></script>
  <script src="/js/scripts.js"></script>
  <%- script %>
  </body>
</html>