
<div class="col-md-10 mt-4 container">
    <div class="card card-user">
    <div class="card-header">
        <h5 class="card-title">ENVÍO DE FACTURAS</h5>
    </div>
    <div class="card-body">
        <form action="/recepcionfactura" method="POST">
        <div class="row">
            <div class="col-md-6 pr-5">
            <div class="form-group">
                <label>Ambiente</label>
                <select name='codigoAmbiente' class="form-select">
                    <option value="1">1. Producción</option>
                    <option selected value="2">2. Pruebas y Piloto</option>
                </select>
            </div>
            </div>
            <div class="col-md-6 pl-5">
            <div class="form-group">
                <label>Modalidad</label>
                <select name='codigoModalidad' class="form-select">
                    <option value="1">1. Electrónica en línea</option>
                    <option selected value="2">2. Computarizada en línea</option>
                </select>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pr-5">
            <div class="form-group">
                <label>Código Sistema</label>
                <input type="text" name='codigoSistema' class="form-control" value="71F2C7048ED54B99A4AE42F">
            </div>
            </div>
            <div class="col-md-6 pl-5">
            <div class="form-group">
                <label>NIT</label>
                <input type="text" name='nit' class="form-control" value="190590027">
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pr-4">
            <div class="form-group">
                <label>Sucursal</label>
                <select name='codigoSucursal' class="form-select">
                    <option value="0">Casa Matriz</option>
                    <option value="1">Sucursal [1]</option>
                    <option value="2">Sucursal [2]</option>
                    <option value="3">Sucursal [3]</option>
                </select>
            </div>
            </div>
            <div class="col-md-4 pl-4">
            <div class="form-group">
                <label>Punto de Venta</label>
                <select name='codigoPuntoVenta' class="form-select">
                    <option value="0">Punto de venta [0]</option>
                    <option value="1">Punto de venta [1]</option>
                    <option value="2">Punto de venta [2]</option>
                    <option value="3">Punto de venta [3]</option>
                </select>
            </div>
            </div>
            <div class="col-md-4 pl-4">
                <div class="form-group">
                    <label>Código CUIS</label>
                    <select name='cuis' class="form-select">
                        <option value="145110CC">145110CC</option>
                        <option value="FF947EED">FF947EED</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="form-group">
                <label>Código CUFD</label>
                <input type="text" name="cufd" class="form-control" value="<%= lastcufd.codigo %>">
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pr-4">
            <div class="form-group">
                <label>Documento Sector</label>
                <select name='codigoDocumentoSector' class="form-select">
                    <option selected value="1">[1]</option>
                    <option value="2">[2]</option>
                    <option value="3">[3]</option>
                </select>
            </div>
            </div>
            <div class="col-md-4 pl-4">
            <div class="form-group">
                <label>Código Emisión</label>
                <select name='codigoEmision' class="form-select">
                    <option selected value="1">Online</option>
                    <option value="2">Offline</option>
                    <option value="3">Masiva</option>
                </select>
            </div>
            </div>
            <div class="col-md-4 pl-4">
                <div class="form-group">
                    <label>Tipo Factura</label>
                    <select name='tipoFacturaDocumento' class="form-select">
                        <option selected value="1">Factura con Derecho a Crédito Fiscal</option>
                        <option value="2">Factura sin Derecho a Crédito Fiscal</option>
                        <option value="3"> Documento de Ajuste </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="form-group">
                <label>Token</label>
                <textarea name='token' class="form-control textarea">eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhbGdvcml0bW9zIiwiY29kaWdvU2lzdGVtYSI6IjcxRjJDNzA0OEVENTRCOTlBNEFFNDJGIiwibml0IjoiSDRzSUFBQUFBQUFBQURPME5EQzFOREF3TWdjQW5ZMnBsQWtBQUFBPSIsImlkIjoxMTI4MzcsImV4cCI6MTY4MDgyNTYwMCwiaWF0IjoxNjQ5NDUwMzk1LCJuaXREZWxlZ2FkbyI6MTkwNTkwMDI3LCJzdWJzaXN0ZW1hIjoiU0ZFIn0.4iS_yuqltwVDc-mHZ128d46f31F82gDzPUwd4DtFz0OTleTKleF_5ErBrhgTEStOiHaaCX2F5dlcLYoQBOkemA</textarea>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="ml-auto mr-auto">
            <button type="submit" id="btncufd" class="btn btn-primary btn-round btn-cufd">Solicitar</button>
            </div>
        </div>
        </form>
    </div>
    </div>
</div>